<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block header_title %}{% endblock %}
		</title>
		{% block header_metadata %}{% endblock %}
		
        {% block css -%}
            	<link rel="stylesheet" type="text/css" href="css/main.css" />
        {%- endblock %}
        
        {% block js_init -%}
            <script src="js/requirejs/require.js"></script>
            <script>
                requirejs.config({
                	shim: {
                        bootstrap: {
                            deps: [ "jquery", "popper" ]
                        }
                    },
                    baseUrl: 'js/modules'
                });
            </script>
        {% endblock %}
	</head>
	
	<body>
    
    	<div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            	<h5 class="my-0 mr-md-auto font-weight-normal">Аптека у Айболита</h5>
          		<nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-dark" href="#">Список товаров</a>
                    <a class="p-2 text-dark" href="#">Добавить товар</a>
                    <a class="p-2 text-dark" href="#">О нас</a>
        	    </nav>
            </div>
        
            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        	    <h1 class="display-4">
        			{% block page_header %}{% endblock %}  
                </h1>
            </div>
    			
			{% block content %}{% endblock %}
    
            <footer class="pt-4 my-md-5 pt-md-5 border-top text-center text-dark">
            	Copyright © 2018 Мухаматинов Ильдар
            </footer>
    	</div>
	</div>
  
	</body>
	
</html>
